@using ImageImporter.Models.View
@model IEnumerable<JobInfoViewModel>


@{
    ViewData["Title"] = "Home Page";
}


 
<div class="container">
    <div class="row">
        <fieldset>
            <legend class="FieldSet-legend-2KHms">Home</legend>
            
        </fieldset>
    </div>
</div>
 
<script src="~/lib/microsoft-signalr/signalr.js"></script>
