@{
    ViewData["Title"] = "Services";
}


<div class="card">
 <div class="card-header">
		<ul class="nav nav-tabs">
			<li class="nav-item" active><a href="#Jobs" class="nav-link" data-toggle="tab">Jobs</a></li>


		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content">
			<div id="Jobs" class="tab-pane active"><div class="GetPartial" data-uri="/Jobs/Jobs">Loading information</div> </div>
			
		</div>
	</div>
</div>
 
